name: Assign ID

on:
  issues:
    types: [labeled]

permissions:
  issues: write

jobs:
  assign-technique-id:
    if: >-
      github.event.label.name == 'assigned ID'
      && contains(github.event.issue.labels.*.name, 'content: new technique')
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python 3.12
      uses: actions/setup-python@v3
      with:
        python-version: "3.12"

    - name: Assign technique ID
      run: |
        python3 admin/id_assignment/assign_technique_id.py \
          --issue-number "$ISSUE_NUMBER"
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        ISSUE_NUMBER: ${{ github.event.issue.number }}

  assign-weakness-id:
    if: >-
      github.event.label.name == 'assigned ID'
      && contains(github.event.issue.labels.*.name, 'content: new weakness')
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python 3.12
      uses: actions/setup-python@v3
      with:
        python-version: "3.12"

    - name: Assign weakness ID
      run: |
        python3 admin/id_assignment/assign_weakness_id.py \
          --issue-number "$ISSUE_NUMBER"
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        ISSUE_NUMBER: ${{ github.event.issue.number }}

  assign-mitigation-id:
    if: >-
      github.event.label.name == 'assigned ID'
      && contains(github.event.issue.labels.*.name, 'content: new mitigation')
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python 3.12
      uses: actions/setup-python@v3
      with:
        python-version: "3.12"

    - name: Assign mitigation ID
      run: |
        python3 admin/id_assignment/assign_mitigation_id.py \
          --issue-number "$ISSUE_NUMBER"
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        ISSUE_NUMBER: ${{ github.event.issue.number }}
